In [ ]:
# In this example we create a small SQL database and query its contents

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('example2.db')

In [3]:
c = conn.cursor()

In [4]:
# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

In [5]:
# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

In [6]:
# do another
c.execute("INSERT INTO stocks VALUES ('2006-01-06','SELL','RHAT',100,35.66)")

conn.commit()

In [7]:
# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
# conn.close()

In [7]:
c.execute("select * from stocks")

In [9]:
conn = sqlite3.connect('example.db')

In [10]:
c = conn.cursor()

In [26]:
c.execute("select * from stocks")

In [8]:
record = c.fetchone()
record

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [9]:
print(record[0])

2006-01-05

In [10]:
for row in c.execute('SELECT * FROM stocks WHERE price<35.5 ORDER BY PRICE'):
        print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [11]:
c.execute('CREATE INDEX PRICE ON stocks (price)')

In [12]:
for row in c.execute('SELECT * FROM stocks WHERE price<35.5 ORDER BY PRICE'):
        print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)